[2015-12-01 15:56] dericed opened #14 "add citations to prerequisite documents"
The https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#introduction section refers to familiarity with concepts of Range coding and YCBCr colorspaces. I propose that we link to or name specific resources that can provide this familiarity.

[2015-12-01 17:00] michaelni commented on #14
sure, do you have a patch or suggestions for which resources to link to ?

[2015-12-01 22:55] dericed commented on #14
Not yet, for now I'm just trying to log issues for things to do. I'll look for a good resources on these issues that isn't behind a paywall.

[2016-04-24 00:22] dericed opened #18 "document configuration record usage in mkv"
When I run
`ffmpeg -f lavfi -i testsrc -pix_fmt yuv422p -c:v ffv1 -level 3 -g 1 -vframes 1 test.mkv`
and
`ffmpeg -f lavfi -i testsrc -pix_fmt yuv422p -c:v ffv1 -level 3 -g 1 -vframes 1 test.mov`
I see the content differs between mkv's CodecPrivate and mov's glbl atom.

mov stores the configuration record as `562B859E0033F59F4BC3EFABDB970D0B0242F7B163374A9505C43F5ABFD980FE198CD25D39CF244ED4EB`. In

[2016-04-24 01:22] michaelni commented on #18
On Sat, Apr 23, 2016 at 05:22:55PM -0700, Dave Rice wrote:

wild guess, the mkv contains a AVI bitmapinfoheader ?
if thats the case see V_MS/VFW/FOURCC

[...]
--
Michael     GnuPG fingerprint: 9FF2128B147EF6730BADF133611EC787040B0FAB

Freedom in capitalist society always remains about the same as it was in
ancient Greek republics: Freedom for slave owners. -- Vladimir Lenin

[2016-04-24 01:39] dericed commented on #18
You're right. It's bitmapinfoheader plus configuration record. I suppose if the Matroska spec defined V_FFV1 then a specific ffv1 codecprivate could be defined.

[2016-07-07 06:01] dericed opened #20 "add security considerations section"
see section 2.2 of http://www.ietf.org/id-info/checklist

[2016-07-12 16:07] #20 closed

[2016-09-04 16:12] dericed opened #24 "document sample range in ffv1"
Proposing that ffv1 describe whether yuv pixel formats should be decoded as full range or broadcast range (others?).

[2016-09-04 16:28] JeromeMartinez commented on #24
would be in more global metadata (not used for decoding) color description (with colour primaries, transfer haracteristics, matrix coefficients...) in the Parameters() part.

[2016-12-08 21:19] dericed opened #27 "clarify assignment operators"
The language of assignment operators is currently like:

However, either:

or

would be more clear.

[2016-12-09 05:29] retokromer commented on #27
I suggest the less verbose `a := a + 1`.

[2017-01-03 17:05] dericed opened #34 "define NumBytes"
Currently `NumBytes` is defined in an aside like `The size of the Configuration Record, NumBytes, is supplied by the underlying container.` but `NumBytes` via `remaining_bits_in_bitstream` is also needed in context with `Frame`. I suggest that `NumBytes` have it's own definition, as I was initially confused to think that `NumBytes` was only a measurement of the Configuration Record and not of a Fr

[2017-01-03 17:08] dericed opened #35 "explain convention of documenting component structures"
In https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#conventions it references the `C standard` for operators and order of precedence, but `C` is also used to document structures within FFV1, such as in https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#configuration-record, https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#frame, and https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#slice. I t

[2017-01-03 17:13] JeromeMartinez commented on #35
we use "if", "else" and so on as in C standard, but the structure is not C, so we need a dedicated paragraph about it.

[2017-01-03 17:18] JeromeMartinez commented on #27
`=` is defined as `a = b means a is assigned b.`
`:=` is not defined and would be redundant with the definition of `=`.
"is assigned to" is also redundant with the definition of `=`.

So I don't see the difference.
would you like

[2017-01-03 17:22] retokromer commented on #27
May I disagree? `a = a + 1` is a mathematical nonsense and therefore `:=` was introduced.

[2017-01-03 17:25] dericed opened #36 "add other functions used to functions section"
There's a few functions used but not referenced in https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#bitstream-functions. It may be helpful for a reader to know what functions to expect as they do with the operators currently used.

The sentence `The log2_run function is also used within [@ISO.14495-1.1999].` could be moved to the functions section.

Here are some functions used but with no defin

[2017-01-03 17:25] JeromeMartinez commented on #27
Introduced by?

We decided to use the C notation, and `=` is used for assignment in C.
We need a more global decision that for this part of the spec we agree not to use C convention (and change lots of parts in the specs).

I am not against changing to `:=`, this is just a more intrusive change in the way we do the spec (~40 places in the spec to be changed, no more "like C")

[2017-01-03 17:27] dericed commented on #36
Also `Pixel ()` is used twice in https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#line but not defined.

[2017-01-03 17:30] retokromer commented on #27
I have to check in my noted who introduced it, I cannot remember it at this moment.

Yet, then, I suggest the more verbose `a` is assigned `a + 1` which is correct.

[2017-01-03 17:33] dericed commented on #27
I agree with @JeromeMartinez in https://github.com/FFmpeg/FFV1/issues/27#issuecomment-270168500 and see that `a = b` (assignment) and `a == b` (equals) are already well defined, but I think using the more verbose `a is assigned a + 1` in https://github.com/FFmpeg/FFV1/blob/master/ffv1.md#assignment-operators would be more clear.

[2017-01-03 17:34] retokromer commented on #27
@JeromeMartinez According to Wikipedia is the 1st Algol: https://en.wikipedia.org/wiki/Assignment_(computer_science)

[2017-01-03 18:31] michaelni commented on #36
Functions related to write/put/encode can be defined as "inverse" of the read/get functions

[2017-01-03 18:42] michaelni commented on #36
for put_symbol/rac this could be used maybe:
`
diff --git a/ffv1.md b/ffv1.md
index 9b7a67d..abbe791 100644
--- a/ffv1.md
+++ b/ffv1.md
@@ -451,9 +451,9 @@ Note, this is different from JPEG-LS, which doesn’t use prediction in run mode
 |------|--------------------------------------------------------|
 | u(n) | unsigned big endian integer using n bits               |
 | sg   | Golomb Rice coded sig

[2017-01-07 17:38] dericed commented on #24
IIUC this can't fit in version 3 but would require being within a `if (version >= 4) {`. I see that FFmpeg already includes an experimental version 4, so does that extension of the `Parameters ()` already exist?

[2017-01-07 19:09] dericed commented on #36
@michaelni, the spec currently says

But when I checked a copy of ISO 14496-12 at http://l.web.umkc.edu/lizhu/teaching/2016sp.video-communication/ref/mp4.pdf I can't find any reference to the log2_run function.

[2017-01-07 19:11] dericed commented on #36
BTW I changed MIN and ABS to min and abs (personally preference for lowercase functions). If there's a reason to leave those functions in caps, I can change back. I was guided a bit by https://tools.ietf.org/html/rfc6716#section-1.1.

[2017-01-07 19:19] retokromer commented on #36
+1 for functions in minuscules

[2017-01-07 19:22] dericed commented on #35
@JeromeMartinez can you draft such a paragraph?

[2017-01-07 19:34] dericed commented on #36
My mistake: QuantizationTablePerContext is defined, within the same QuantizationTable section is which it is used.

[2017-01-07 19:41] dericed opened #41 "define len and len_count"
Within the Quantization Tables section it uses `len` and `len_count[ i ][ j ]`. I don't see these terms in any other section and they don't seem to be assigned to any value. I'm unclear where to go to get further detail of their meaning. Should they be defined in this section or get a reference?

[2017-01-07 20:17] dericed opened #42 "questions about the Border section"
The border section gives an example table but it doesn't seem to match the description.

For reference:
[code]

For the border to the left of the slice it says `samples to the left of the coded slice are identical to the top right sample (if there is one)`. The top right sample of the slice is `a` so with this definition I'd expect to see

[code]

I think the intended meaning is more like `samples

[2017-01-07 20:45] michaelni opened #43 "make -j12 (parallel job execution) causes failures"
I normally run make -j12 as my box has 6 cores. While build is fast enough without it should not fail.
But it did fail and running it a 2nd time succeeded but resulted in a corrupted ffv1.pdf that had 2 appendix sections
The issue is reproduceable with make clean ; make -j12

[2017-01-07 20:51] dericed commented on #43
I suspect this is because the same tmp filename, merged.md, is used in a few places.

[2017-01-07 21:08] #43 closed

[2017-01-07 21:11] #27 closed

[2017-01-08 11:57] retokromer commented on #41
I suggest to define.

[2017-01-08 13:03] #36 closed

[2017-01-08 14:50] dericed commented on #34
Closed by https://github.com/FFmpeg/FFV1/commit/2e864f6f4a537636a95a3e59114874a144168bae

[2017-01-08 14:50] #34 closed

[2017-01-08 16:25] retokromer opened #47 "[v4] implementation of additional image data"
Today the data used for restoration (e.g. from infrared scanning) are often stored into the alpha channel, which is not a proper solution, as discussed in https://github.com/FFmpeg/FFV1/pull/31. At least proper metadata are needed.

[2017-01-08 17:27] retokromer commented on #47
On the scanner side e.g. [Scanity](http://www.dft-film.com/archive-challenges/scratches-and-dirt.html) from DTF (aka Prasad) and ARRISCAN from ARRI use this mechanism. On the software side e.g. Diamant from HS-Art Digital Service or DRS Nova from MTI Film.

[2017-01-08 17:29] JeromeMartinez commented on #47
Is there a flag in the created file from such tool indicating that the 4th channel is not really alpha, or do we have to assume it from the e.g. software name?

[2017-01-08 17:36] retokromer commented on #47
I have to check this as the lab. As long as I can remember (but after a stroke my memory is not good anymore, so please take this _cum grano salis_), the files we had to deal with didn’t have a flag, no one flagged I can remember.

[2017-01-09 16:44] #14 closed

[2017-01-14 06:14] retokromer commented on #47
This week I did some checking on the softwares I can easily access. Sadly, the software name is not a sufficient flag, as one software can usually export different flavours of the same format, in a more or less transparent way. Additionally the metadata are not always consistent between different versions of the same software!

I would suggest again the double strategy I mentioned in Berlin:
- Sto

[2017-01-24 00:09] dericed commented on #42
ping. Is more than one border column/row needed?

[2017-01-24 13:14] JeromeMartinez commented on #42
1/ "The top right sample of the slice is a so with this definition I'd expect to see"

impossible: you can not compute `a` from `a`, as `a` is not yet known. so no copy of `a` on the left of the real `a`
FFmpeg code is:

[code]

With:
- all 0 as init
- sample[0] is the previous line (full 0 if current line is the first one)
- sample[1] is the current line
- `w` is the width of the plane

--> It is

[2017-01-24 13:19] retokromer commented on #42
I didn’t answer, because I can see little pros/cons in both _scenari_, but so far I’m unable to decide.

[2017-02-11 17:03] dericed commented on #41
Not sure if I understand the intent enough to define. Is `len` the length of the `slice`? I presume that len_count is a counter but am not sure how to explain the two arguments used in it, such as `len_count[ i ][ j ]`.

[2017-02-11 23:42] dericed commented on #18
fixed in https://github.com/FFmpeg/FFV1/commit/6e9c3e0bf882929b85d9330cec6e692e6d5d30eb

[2017-02-11 23:42] #18 closed

[2017-02-15 01:51] dericed opened #51 "inconsistency in the context equation"
The context section says:

but then lists a equation that doesn't use `t-T` but does use `T-t`.

[2017-02-15 07:26] retokromer commented on #51
If I understand correctly, then `T-t` is the correct reading, but certainly @michaelni can answer this better as I can do.

[2017-02-15 08:03] JeromeMartinez commented on #51
This is `T-t` in code, so the correct one.
I suggest to replace:
`The quantized sample differences L-l, l-tl, tl-t, t-T, t-tr are used as context:`
by
`Context is:`

formulas, even some small ones like differences, should not be repeated.

[2017-02-18 15:18] dericed commented on #51
I'll fix this one after https://github.com/FFmpeg/FFV1/pull/50 to avoid the conflict.

[2017-04-11 20:40] dericed opened #54 "standardize "color space" vs "colorspace""
both are used

[2017-04-12 02:49] ablwr commented on #54
Is there a preference?

[2017-04-12 03:19] dericed commented on #54
https://tools.ietf.org/html/rfc6386 seems to prefer "color space", I think I would too.

[2017-04-16 00:07] dericed commented on #54
@ablwr resolved this in https://github.com/FFmpeg/FFV1/commit/90aea8bdc680a0e47f48faf7e042c0171db9a494.

[2017-04-16 00:07] #54 closed

[2017-05-09 16:35] dericed opened #59 "version 02 release"
I suggest marking a 02 release so that the file can be updated in the cellar documents section. Can you please mark a release for `draft-niedermayer-cellar-ffv1-02`.

[2017-05-10 01:44] michaelni commented on #59
done
https://github.com/FFmpeg/FFV1/releases/tag/draft-n-cellar-02

[2017-05-10 01:44] #59 closed

[2017-05-10 01:50] dericed commented on #59
sending a bit too late, but https://github.com/FFmpeg/FFV1/pull/60 is related

[2017-05-15 16:04] dericed commented on #35
I found some IETF documentation that pertains to this issue at https://www.ietf.org/iesg/statement/pseudocode-guidelines.html (see references to `pseudocode`).

[2017-05-17 02:57] #42 closed

[2017-05-17 22:12] dericed commented on #35
closed via https://github.com/FFmpeg/FFV1/commit/68f6d1e2743df5f8037d4dfa724d44281272656a

[2017-05-17 22:12] #35 closed

[2017-05-22 19:20] dericed commented on #51
fixed in https://github.com/FFmpeg/FFV1/commit/d372bdc6b451b349c6e4170ff502ca99852c677e

[2017-05-22 19:20] #51 closed

[2017-07-08 11:28] retokromer commented on #47
Closing as open for longtime.

[2017-07-08 13:20] dericed commented on #47
-1

[2017-07-08 13:28] retokromer commented on #47
@dericed It’s useless and may even be confusing, in my opinion, to keep open issues too long. I have understood that in the current version of FFV1 this will not be considered. When the work on the new version will start, I might publish an updated list with my wishes which would include this one.

[2017-07-08 13:35] JeromeMartinez commented on #47
We could decide to have a label "enhancement" for such ticket, in order to have them categorized.
For the moment, it is true that we focus on v0-3 when we have time for improvements, but I think it is good to keep ideas for v4+ in this tracker so we don't forget them.

[2017-07-08 13:39] michaelni commented on #47
I think we can just work on the next version and update and edit the specificiation and implementation as needed. The specification/draft built for IETF needs to omit these possibly but that should not keep us from working on them. We just might need a way for "make" to drop sections that dont belong in the current IETF draft

[2017-07-08 14:37] ablwr commented on #47
Agreed, better to tag with something like 'enhancement' or even 'v4' than to close the issue entirely.

[2017-12-29 13:56] dericed opened #81 "add a 'version 4' issue label"
@michaelni for sorting out the issue related to the spec of ffv1 version 0,1,3 and the spec of ffv1 4, can you add issue labels for "version 0,1,3" and "version 4"

[2017-12-29 13:56] dericed commented on #81
ah, actually prefixing with `[v4]` seems simpler

[2017-12-29 13:56] #81 closed

[2018-01-11 18:15] retokromer commented on #47
Seems not to be of interest. I give up.

[2018-01-12 00:23] michaelni commented on #47
I think this should be kept open

[2018-01-12 06:03] retokromer commented on #47
OK, I reopen and unfollow FFV1 as well.

**Context:** The fucking Jew is very unhappy that all his proposals regarding new developments in FFV1 are not welcome. Since more than one year a half it’s always the wrong time for all what I suggest.

[2018-01-12 06:20] JeromeMartinez commented on #47
@retokromer it takes time, right, but taking time does not mean that it is not welcome.
Some words are off topic.

[2018-01-12 06:25] retokromer commented on #47
Ciò che dico è fuori contesto. Q.E.D.

[2018-02-03 21:10] JeromeMartinez commented on #41
`len` and `len_count[ i ][ j ]` are temporary values used to simplify the pseudo code, and are not used elsewhere (they are not kept by the decoder during decoding).
Is it fine for you if I say something like "`len ` is a temporary value used in QuantizationTable(i, j, scale) only and is not used elsewhere"?

[2018-02-03 21:12] JeromeMartinez commented on #41
(sorry, was willing to talk about `len_count[ i ][ j ]` only as `len` was already described)

[2018-02-04 17:42] dericed commented on #41
resolved by https://github.com/FFmpeg/FFV1/pull/103

[2018-02-04 17:42] #41 closed

[2018-02-26 20:44] dericed opened #109 "sar_den is 0 if unknown"
In FFmpeg sar_num/sar_den for unknown sar is `0/1` but the [spec at this section](https://github.com/FFmpeg/FFV1/blob/aadbb8c486a6cf688d18ee18a7e329ec527a8268/ffv1.md#sar_den) says "MUST be 0". As I read, it:

`sar_num  = 0 &&  sar_den  = 0` valid
`sar_num != 0 && sar_den != 0` valid
`sar_num  = 0 && sar_den != 0` not valid
`sar_num != 0 &&  sar_den  = 0` not valid

Which is wrong?
[ ] FFmpeg
[ ]

[2018-02-26 20:51] JeromeMartinez commented on #109
As the goal in v0-v3 is to document the main implementation, I suggest we change the FFV1 spec fo v0-v3 for accepting 0/1 (only, or 0/any) and maybe change it in v4.

[2018-02-26 20:58] michaelni commented on #109
FFmpeg is wrong, if it stores SAR=1/0 or 0/1. 0/1 equals 0, that is not achievable as an aspect ratio. 1/0 is not a finite number, 0/0 kind of means unknown. More so making 1/0 mean something else than 0/1 is problematic, as you get one from the other by simple rotation and that asymetry would be very illogic

[2018-02-26 21:18] JeromeMartinez commented on #109
Issue is that some streams in the wild are with `0/1`, looks like it is the fallback in FFmpeg when DAR is unknown.
With e.g. `./ffmpeg -f lavfi -i testsrc -vframes 1 -c:v ffv1 -level 3 -vf setsar=0/2 a.mkv` ("2" is on purpose, for demonstrating that FFmpeg does something about SAR value), sar_den is 1, is it wanted?
Looks like I can not have sar_den of 0 with FFmpeg ("invalid string" if I try `0/

[2018-03-02 20:00] JeromeMartinez commented on #109
Bump on this, I would like to know the outcome in order to say what is wrong (FFmpeg or spec) with all people involved on FFV1 in sync about the issue, as some users don't understand that a stream created by current FFmpeg can be invalid, FFmpeg being "advertised" as the reference encoder/decoder for FFV1.

[2018-03-02 20:04] dericed commented on #109
I suggest

[code]

If `sar_num=0` then we already know the sar is unknown, so we don't need the same requirement for sar_den.

[2018-03-02 20:07] JeromeMartinez commented on #109
Just seeing the ugly copy/paste with last word (shame on me), will fix it at the same time I patch this part.

[2018-03-11 12:15] retokromer commented on #24
Are details available somewhere, or has one to reverse engineer it?

[2018-04-21 15:50] retokromer commented on #47
FYI: Tests with the new `ProRes RAW` were successful. However, this covers just a little part of my wish about Bayer.

[2018-04-22 14:55] dericed opened #113 "mark new release"
Since https://github.com/FFmpeg/FFV1/commit/760bcfb73763ead0dfe24e05db75e4c32adec114 is merged, please mark a release before any further merges.
Since this is now both `draft-ietf-cellar-ffv1-02` and `draft-ietf-cellar-ffv1-v4-00` I suggest maybe `draft-ietf-cellar-ffv1-02_v4-00`. ¯\\_(ツ)_/¯

[2018-04-22 15:16] dericed commented on #109
ping to Jerome to fix copy/paste error

[2018-04-22 21:54] michaelni commented on #113
done in https://github.com/FFmpeg/FFV1/releases/tag/draft-ietf-cellar-02

[2018-04-22 21:54] #113 closed

[2018-06-01 12:53] dericed opened #115 "please mark a release for draft-ietf-cellar-ffv1-03"

[2018-06-26 15:57] michaelni commented on #115
done, https://github.com/FFmpeg/FFV1/releases/tag/draft-ietf-cellar-ffv1-03

[2018-06-26 15:57] #115 closed

[2018-07-06 15:19] dericed opened #118 "mean,k estimate for Golomb Rice"
[code]

moving this from the document to an issue.

[2018-07-06 15:39] retokromer opened #120 "v2"
I suggest to add to the specification the reference where the never released version 2 can be found.

[2018-07-13 07:42] retokromer commented on #118
+1

[2018-07-28 06:33] retokromer commented on #120
Visibly not of interest, considering that the [version published yesterday](https://datatracker.ietf.org/doc/html/draft-ietf-cellar-ffv1-v4-01) ignores it and that nobody commented.

[2018-07-28 06:33] #120 closed

[2018-07-28 12:22] michaelni commented on #120
A patch adding a reference is welcome.

[2018-07-28 13:34] retokromer commented on #120
For historical reasons, I think it may be of interest to know that [FFV1.2](https://github.com/FFmpeg/FFV1/blob/8ad772b6d61c3dd8b0171979a2cd9f11924d5532/ffv1.lyx) did exist, even if never officially released. And where one interested in can find it. I am not at all suggesting to include the 2 specs into the standard candidate, just the link to the source.

(FYI: I did actually see it, when you pub

[2018-07-30 08:56] pjotrek-b commented on #120
...but FFV1.2 was never released as "non-experimental" and directly superseded by FFV1.3 :smile:

[2018-07-30 10:08] retokromer commented on #120
I know very well, but as experimental the format actually did exist! And it may be of interest to be able to follow «easily» the different steps of this evolution.

BTW: I checked, I have a small set of exactly 12 historic files which I did generate with a film scanner for small gauge in both 1 and 2 in order to check the improvements made. 😄😄 Yet, as I told you in Singapore, the bigger part of ou

[2018-09-25 17:44] dericed opened #125 "type of ConfigurationRecordIsPresent?"
In https://github.com/FFmpeg/FFV1/blob/7c7dbea3b7c9388f12337614397842368f8e559f/ffv1.md#configuration-record it lists `ConfigurationRecordIsPresent = 1` but no data type is assigned to describe the `ConfigurationRecordIsPresent`. Is it `u(1)` or something else?

[2018-09-25 19:11] JeromeMartinez commented on #125
it could be any type, this is "temporary" variable. Currently only "0" and "1" are set, but in the future there may be more.
I use to see no definition about such variable in other specs, and a decoder could use any size for this variable.

The only weird thing I see with ConfigurationRecordIsPresent is the usage of "!ConfigurationRecordIsPresent", maybe more coherent to use "ConfigurationRecordIs

[2018-09-25 20:20] dericed commented on #109
noting that the copy/paste error was fixed in https://github.com/FFmpeg/FFV1/commit/787fec68d712c8c5740e09f3a8e284f946542a3e

[2018-09-26 13:19] dericed commented on #125
OK, maybe I am mistaken, I interpreted the ConfigurationRecordIsPresent section to imply that this value is stored within the bitstream, just before the Parameters section and was interested to understand how it is stored.

[2018-09-26 13:20] JeromeMartinez commented on #125
It is not (this is an assignment, and nothing in the right column; method similar to other specs).

[2018-09-27 13:17] #109 closed

[2018-10-02 18:17] dericed commented on #125
from another reading, I think my initial concern is resolved by this section:

[code]

I suggest no change is needed on this issue and I propose to close it.

[2018-10-02 18:18] dericed commented on #118
@michaelni Is `mean,k estimation for the Golomb Rice codes` still intended as a todo?

[2018-10-02 23:58] michaelni commented on #118
@dericed is it documented somewhere ?

[2018-10-03 13:45] dericed commented on #118
@michaelni, this originated from one of your todo notes on the original lyx document (see https://github.com/FFmpeg/FFV1/blob/fae20d8d51a60d54365689076165b231c6a7522a/ffv1.lyx#L1228). I had moved it from a todo within the doc to an issue, but am uncertain of the status.

[2018-10-18 11:01] dericed opened #133 "suggest marking a new release in github"

[2018-10-24 13:57] dericed commented on #133
closed via https://github.com/FFmpeg/FFV1/releases/tag/draft-ietf-cellar-ffv1-06_v4-03

[2018-10-24 13:57] #133 closed

[2018-10-27 15:22] retokromer opened #134 "[v4] allow any number of channels"
I suggest that in FFV1 version 4 we implement the handling of more than three channels (usually YCbCr or RGB) or four channels (with an additional «alpha»). This would allow to encode multispectral moving images as well. For a little background, see my lightning talk at NTTW #3 this week in London. Sorry for quoting myself!

[2018-10-28 14:20] michaelni commented on #134
I agree

[2018-12-23 18:46] retokromer commented on #47
FYI: Bayer-based content can easily be encoded as greyscale content. It needs just two additional bits to encode a classic RGB filters disposition (e.g. `bggr`).

[2018-12-23 19:10] richardpl commented on #47
I think best approach is to send patches to ffmpeg-devel with actual implementation?

[2019-01-10 11:17] michaelni commented on #134
some work in progress code: https://github.com/FFmpeg/FFV1/pull/138

[2019-01-26 11:21] retokromer opened #141 "add definition of exponentiation"

[2019-01-26 13:27] #141 closed, assigned to nobody

[2019-01-27 15:35] JeromeMartinez commented on #118
We can close this issue thanks to https://github.com/FFmpeg/FFV1/pull/144.

[2019-02-05 15:39] pjotrek-b opened #147 "pseudo-code: inconsistent syntax?"
I'm not sure, but the pseudo-code parts seem to have correct, but inconsistent syntax/formatting...

For example here:
Why does "if (version <= 1)" have a "{ }", while "if (coder_type == 0)" doesn't?
Both contain the same number of lines inside the "if" block:

[code]

Additionally, sometimes there are spaces before/after parentheses - sometimes not, sometimes mixed.
If that's not on purpose, may

[2019-02-05 19:15] JeromeMartinez commented on #147
It was not intended, I tried to keep consistency and have "{ }" everywhere, sometimes we missed to catch the inconsistency.
Go ahead (with "{ }").

[2019-02-05 19:31] JeromeMartinez commented on #147
Yes.

[2019-02-06 15:23] retokromer commented on #147
I was willing to make the pseudo-code consistent on the whole document…

[2019-02-06 18:08] pjotrek-b commented on #147
@retokromer
Now that PREFORMA's over, let me have some commits to the docs, too :stuck_out_tongue_winking_eye:

[2019-02-26 11:16] pjotrek-b commented on #147
I've filed a pull-request for this :grin:

[2019-02-26 11:20] pjotrek-b opened #149 ""version \<= 3": Why the backslash?"
In the definition of "quant_table_set_index_count" (slices), there's an escaped less-than-or-equal sign:
`1 + ( ( chroma_planes || version \<= 3 ) ? 1 : 0 ) + ( extra_plane ? 1 : 0 )`

Is that backslash after "version" intended?

[2019-02-26 11:25] JeromeMartinez commented on #149
I guess I added a typo when I tried to backslash several other things.
Not intended.

[2019-02-26 11:33] pjotrek-b commented on #149
I'll remove it then :)

[2019-02-26 11:37] pjotrek-b opened #150 "Typo: Slice Header in Slice Footer?"
In "Slice Footer", it says:

The mentioned pseudo-code below only declares "SliceFooter()", so I guess it should be "Slice Footer" here insteadof "Slice Header"?

[2019-02-26 11:39] JeromeMartinez commented on #150
Copy paste typo, right.

[2019-03-16 13:19] retokromer commented on #149
Is this still an open issue, @pjotrek-b?

[2019-03-16 13:20] retokromer commented on #147
Is this still an open issue, @pjotrek-b?

[2019-03-18 19:55] pjotrek-b commented on #147
Sorry. Forgot to close this.
Fixed in PR #148 :smile:

@retokromer Thanks for checking!

[2019-03-18 19:55] #147 closed

[2019-03-18 19:56] pjotrek-b commented on #149
Fixed in PR #148.

[2019-03-18 19:56] #149 closed

[2019-07-29 13:27] dericed commented on #150
This issue can be closed. Fixed by https://github.com/FFmpeg/FFV1/commit/99a802edc5af9f2607f377fb6ae40631affbdee7.

[2019-07-29 17:01] #150 closed

[2019-09-06 12:43] mcr opened #161 "please move this repo to cellar-wg"
Let's move this repo from FFmpeg to github.com/cellar-wg so that it can more easily be found and settings can be adjusted by the WG chairs.  Thank you.

[2019-09-06 14:05] michaelni commented on #161
Honestly, I would prefer to keep it here

[2019-09-06 15:41] michaelni commented on #161
What settings need adjustment ?

[2019-09-14 16:28] dwbuiten opened #162 "CONTEXT_SIZE is not defined"
I section *4.1. Parameters*, the pseudocode shows:
[code]

However, CONTEXT_SIZE is not defined anywhere in the spec that I can find. (It's 32 in FFmpeg.)

[2019-09-14 16:34] dwbuiten opened #163 "Reference decoder (FFmpeg's ffv1dec.c) doesn't match spec behavior for quant_table_set_count"
In the spec, section **4.1.13 quant_table_set_count**, there is no limit on the number of quantization tables in a given file, as far as I can tell.

However, FFmpeg's `ffv1dec.c` rejects any files with more than 8: https://github.com/FFmpeg/FFmpeg/blob/cb8d6a4e3ef39dff2522335021ecfde868c371f7/libavcodec/ffv1dec.c#L468-L473

Which one should be authorative? Did I miss something in the spec elsewhe

[2019-09-14 16:47] JeromeMartinez commented on #163
In my opinion the spec should not limit quant_table_set_count, as there is no technical constraints here (IIUC code in FFmpeg is an arbitrary choice for a fixed structure instead of dynamic allocation).

But there is an compatibility issue with the reference decoder (and even if we udpate the code, older versions would not decode such stream), I suggest to add a line e.g. "For maximum compatibilit

[2019-09-14 17:18] dwbuiten commented on #163
This sounds like a reasonable compromise.

In my own decoder, I used dynamic allocation anyway.

[2019-09-14 20:29] dericed commented on #163
@JeromeMartinez, could you give an example of a `good reason`?

[2019-09-15 08:17] retokromer commented on #163
+1

[2019-09-15 09:32] JeromeMartinez commented on #163
I see the other boundary: why should we limit? Why this field and not e.g. Width and Height fields (some formats are limited to 12-bit, so 4095, it was considered as no good reason do go upper and can not be used for nowadays frames)? should we limit bit depth field too?

I suggest to have the format very open, and for v4 maybe add profiles for limiting a couple of fields.

[2019-09-15 11:15] retokromer commented on #163
+1

[2019-09-15 18:58] michaelni commented on #163
Unlimited is a big number, which requires alot of memory. How much compression is gained by values larger than what ffv1dec.c can handle ?
The problem "unlimited" has IMHO is that someone will create a file that has this much larger than what helps compression. And then theres a file in the wild everyone needs to support because it is a valid file even when the file is bigger than it would have be

[2019-09-16 13:17] dwbuiten commented on #163
@michaelni Do we have data for possible gains on anything larger than 8 (or even 2)? I'd expect them to drop off a edge at somepoint, too.

[2019-09-16 20:08] michaelni commented on #163
i dont remember testing multiple tables. I would also expect a dropoff, also theres the obvious limit of slices * frames as thats the maximum distinct tables which could be used.
More tables have 2 costs to them compression wise, 1. the size of the table itself, and 2. the inability to reuse the statistics of the previous frame (because of different tables). 2. can be reduced by using initial stat

[2019-09-18 07:18] JeromeMartinez commented on #163
As we don't know, and actually things may change in the future even if we know now, isn't `SHOULD NOT` (be upper than 8) a good balance? From IETF definition:
"This phrase, or the phrase "NOT RECOMMENDED" mean that
   there may exist valid reasons in particular circumstances when the
   particular behavior is acceptable or even useful, but the full
   implications should be understood and the case

[2019-09-18 09:44] michaelni commented on #163
allowing arbitrary numbers of tables means that it is not possible to implement a decoder (sw+hw) that could be said supports FFV1 videos of resolution up to X x Y.
As an example even the highest end machiene then couldnt be guranteed to be able to decode a 320 x 200 video.
What do we gain from this ? nothing has been shown to be gained so far.
I think making this unlimited as long as no gain has

[2019-09-19 11:57] #163 closed

[2019-09-19 12:02] #162 closed

[2019-09-25 17:52] dwbuiten opened #168 "4.6.2. plane_pixel_height has incorrect information on chroma planes"
The spec says:

However, this doesn't make any sense, as `log2_v_chroma_subsample` is in log2-space, and also doesn't match how `slice_pixel_width` is defined.

AFAICT, it should actually be: `ceil( slice_pixel_height / (1 << log2_v_chroma_subsample) )`?

[2019-09-26 16:33] JeromeMartinez opened #169 "Quant tables: reference decoder relies too much on reference encoder"
Reference encoder fills 4th & 5th quant tables with 0 if " -context 0" is used.
Reference decoder considers that 4th & 5th quant tables are 0-filled if the 128th field in 4th quant table is 0, instead of testing that all fields in 4th & 5th quant tables, for some quicker processing.

If another encoder puts 0 in the 128th field in 4th quant table and fills any of the other fields in 4th & 5th quan

[2019-09-26 22:18] dwbuiten commented on #169
It should be possible to make the reference decoder work for all streams without losing any speed by precomputing the check (via `memcmp`) at the time the tables are read in, if I'm not mistaken?

It's probably worth a note in the spec too about compatability.

[2019-09-26 22:20] JeromeMartinez commented on #169
It was my idea of patch proposal.

[2019-09-27 13:07] dwbuiten opened #170 "[v4] Consider adding prediction to inter mode"
There's already a dependency on a large part of the previous frame's decoding process for inter frames, and some very simple inter prediction would allow for good compression efficiency gains without a huge hit in performance.

I didn't see this discussed anywhere else, so apologies if it's a duplicate.

[2019-09-27 13:12] richardpl commented on #170
This is duplicate, there even was GSoC to do just this.

[2019-09-27 13:35] dwbuiten commented on #170
Where can I find an open issue for this? A GSoC wiki page for a project that never came to fruition isn't the same thing.

[2019-10-15 12:25] dwbuiten opened #174 "sign_extend is used but not defined"
`sign_extend` is used in *3.8.2.3. Scalar Mode* but not defined anywhere in the spec.

[2019-10-15 16:19] dwbuiten opened #175 "Spec allows >8bit depth in Golomb-Rice mode but nothing can make this"
The reference encoder cannot produce Golomb-Rice coded content that has a bit depth greater than 8, but the spec allows it.

One of the two should be fixed, or it's a risk of defining files that don't exist in real life.

[2019-10-15 22:46] michaelni commented on #175
The implementation, that is both encoder and decoder have hardcoded limits of 8bit in the bias computation (which is then stored in 8bit). These limits seem not optimal when there are alot more than 8bits per sample. Theres also an issue with the golomb coder at 14bits and above.
So i would say its probably better for now to disallow this in the spec. We can always undo that OR decide to standariz

[2019-10-16 00:14] dwbuiten commented on #175
Since it reflects reality, I'm on board with a bit of clear info in the spec to say it isn't allowed.

(If it's there, I missed it...)

[2019-10-16 08:21] JeromeMartinez commented on #175
Generally speaking, I am not in favor of not defining files that don't exist in real life, as we extend sometimes the encoder or decoder without touching the spec, e.g. [we have 9-bit support for all but grey & RGBA, 12-bit support for some color spaces only, 14-bit for only 1 color space](https://twitter.com/JeromeM78/status/964246807734816769), due to limitations in the list of pixel formats sup

[2019-10-16 13:09] #168 closed

[2019-10-17 18:15] dwbuiten opened #179 "IEEE CRC-32 referenced in spec is not a standard IEEE CRC-32"
The spec says:

[code]

Same for the slice CRC info.

However, this seems to not be true - what it really is, is the result of:

[code]

which is *not* a standard IEEE CRC-32 - it does not match the results of any other CRC-32 implementation I could find, with initial value of 0.

FFmpeg's own codebase knows this, because the muxers that need *actual* IEEE CRC-32 with initial value of 0 all do som

[2019-10-17 18:37] dwbuiten commented on #179
The fact that there is no pre or post conversion makes it incompatible with a standard IEEE CRC-32, as far as I know, so yes, it is very important to list - see, for example, Go's standard library implementation: https://github.com/golang/go/blob/master/src/hash/crc32/crc32_generic.go#L40-L48

[2019-10-17 19:15] #179 closed

[2019-10-17 19:41] dwbuiten commented on #179
@michaelni @JeromeMartinez I am not sure this is enough... I am still unable to get a matching CRC out of standard CRC-32 implementations, even accounting for this. I need to maybe dig deeper... Might be endian related.

[2019-10-17 20:18] JeromeMartinez commented on #179
When I compare [the Go implementation](https://github.com/golang/go/blob/master/src/hash/crc32/crc32_generic.go#L27-L36) and [my implementation](https://github.com/MediaArea/RAWcooked/blob/master/Source/Lib/CRC32/ZenCRC32.cpp#L1064-L1075) of the creation of 8- or 16-slice tables, I understand that a difference is some swap (bits and bytes?).

I am not sure about how to describe these swaps in the

[2019-10-17 20:30] dwbuiten commented on #179
Yes, it's related to table generation - its basically the difference between `av_crc_init`'s LE parameter, though that is rather... confusingly documented.

[2019-10-17 21:09] dwbuiten commented on #179
Indeed, it's related to reflectionIt's `CRC-32/MPEG-2`, which is defined in ISO/IEC 13818-1 and is not reflected during table generation.

More info:
* https://groups.google.com/forum/#!topic/golang-codereviews/h989OE28x-M
* https://groups.google.com/forum/#!topic/golang-nuts/6HAJOaJOT9c
* https://www.lammertbies.nl/forum/viewtopic.php?t=1398

Maybe it would be good at add a reference?

[2019-10-17 21:17] michaelni commented on #179
I think we should use inversion in v4 or later as it may slightly improve error detection with appended or prefixed 0 bytes, i will submit a pull req for that in a moment. yes not awnsering the discussion here but i wrote that pull req before seeing that there are more issues

[2019-10-18 10:14] dwbuiten commented on #179
I might be mistaken, it may actually be CRC-32/MPEG-2 but with a different initial value. Either way, defining it in terms of that may be useful since right now the endianness / reflection is not documented.

[2019-10-21 19:58] dwbuiten opened #182 "JPEG2000-RCT transform equations are incomplete / don't match reference"
In both RAWCooked and the ffv1dec, the Cr and Cb components first have `1<<bits` subtracted from them (Y does not), but this is not present in the spec.

[2019-10-21 20:24] JeromeMartinez commented on #182
I was sure I wrote in the spec that Cr and Cb are positively shifted by half of max value + 1 (so source max value + 1, as Cb and Cr have 1 additional bit) in the bitstream in order to have only non-negative numbers stored, but looks like that the patch was not integrated.
I try to find it in my local repo else I write it again.

[2020-01-06 14:42] dwbuiten commented on #169
Fixed in FFmpeg, as per the referenced commit.

[2020-01-06 14:43] #169 closed

[2020-01-28 20:37] #161 closed

[2020-03-31 16:20] #182 closed

[2020-03-31 18:15] #175 closed

[2020-04-28 18:42] dericed opened #198 "few instances of lines too long"
The process that generates the RFC doesn't line-wrap code blocks so there are a few instances where the current ffv1.md causes lines that exceed 72 characters.

The first two lines here exceed by two characters:
[code]

and the first two lines here (also by two characters):

[code]

[2020-06-21 12:23] JeromeMartinez commented on #198
@dericed I checked the current version and all parts with "| type" stuff are 68 character long, what would be the difference between the 2 lines which exceed by to characters and the other lines/parts?

[2020-06-22 14:14] JeromeMartinez commented on #174
Can be closed due to https://github.com/FFmpeg/FFV1/pull/207 (https://github.com/FFmpeg/FFV1/commit/fec139ba560b729288643e35408b082a58374de0).

[2020-06-22 14:30] #174 closed

[2020-06-23 16:51] dericed commented on #198
fixed in https://github.com/FFmpeg/FFV1/pull/196

[2020-06-23 16:51] #198 closed

[2020-07-10 16:28] dwbuiten opened #221 "[v4] Consider other RCTs"
In particular, the interesting ones are YCoCg-R[0] and one based on PLHaar[1].

YCoCg-R is well known, but may have not existed when FFV1 was originally written and chose JPEG2000-RCT.

PLHaar is interesting (at least to me) since, unlike JPEG2000-RCT and YCoCg-R. you can construct a RCT from it that, for an N-bit input, also has an N-bit output (as opposed to N+1 bits for the Co/Cg channels, for

[2020-07-10 17:13] retokromer commented on #221
My preferred is YCoCg-R, but I’m not objective, because I regularly work in Y′CoCg for old additive colour systems (cinema from the 1920s and 1930s), which often don’t fit well in RGB. I will delve info PLHaar.

[2020-07-10 17:26] dwbuiten commented on #221
My understanding of PLHaar from some tests is that it may lose some compression at lower bit depths, but work better at higher depths (this is just from some small tests - I would expect much larger testing before any is adopted.)

Aside: PLHaar has a problem, for example, on greyscale content, because it centres on 127.5, so your chroma (which should be all 128) is a mix of 127/128.

[2020-07-11 22:39] michaelni commented on #221
I think the key questions are
* how does it affect compression across a representative set of inputs
* hoes does it affect speed across a representative set of inputs
* are we missing some "better" choices. Has someone reviewed the current state of the art from other similar simple transforms to per image, per slice, or per pixel adapted transforms?

There is also the question of
* what is the bes

[2020-09-22 16:15] dwbuiten commented on #221
I plan to run a lot of RCTs over various sets of RGB videos soon, and post the results here - stay tuned.

I would expect most RCTs to be small (with some exceptions, see my reply to the last question)

Yep, there has been a fair bit of research since j2k-rct, as you would expect.

This is interesting, specifically for RDLS modifed RCTs, where the lifting step in various RCTs is replaced by a deno

[2020-09-22 19:42] mcr opened #230 "section 3.8.1.2 needs to define get_rac"
As per Barry Lieba review, the section 3.8.1.2 says:

     "get_rac" returns a boolean, computed from the bytestream as
     described in Section 3.8.1.1.

but it is not defined, and likely relates to the decode process.

[2020-09-22 19:43] mcr opened #231 "section 3.8.1.1 should have pseudocode"
The interpretation of the <== and <==> is not clear.
There is clearly a IF/THEN implied, but it is not clear how to code this.

   S_(i + 1, C_(i)) =  zero_state_(S_(i, C_(i)))  AND
              l_(i) =  L_(i)                      AND
              t_(i) =  R_(i) - r_(i)              <==
              (b_(i) =  0                          <==>
              L_(i) <  R_(i) - r_(i))

    Can you exp

[2020-09-22 19:44] mcr commented on #230
https://github.com/dwbuiten/go-ffv1/blob/master/ffv1/rangecoder/range.go
also change reference from 3.8.1.1 to cite figure 9.

[2020-09-22 19:45] mcr commented on #230
@dericed

[2020-09-22 19:46] mcr commented on #231
@dericed

[2020-09-22 19:47] michaelni commented on #231
IIRC the ==> <==> is not intended to be pseudocode. That is its not a "if" in code but rather a mathematical definition of the stream

[2020-09-22 20:06] michaelni commented on #231
b_(i) = 0  implies L_(i) < R_(i) - r_(i)
L_(i) < R_(i) - r_(i) implies b_(i) = 0
b_(i) = 0  implies S_(i + 1, C_(i)) = zero_state_(S_(i, C_(i))) AND l_(i) = L_(i) AND t_(i) = R_(i) - r_(i)

in words IIRC
1. means a 0 symbol at position i implies a specific relation of the range coder state when at that position
2. means that specific relation of the range coder state when at  position i implies th

[2020-09-22 20:20] mcr commented on #231
okay, so this is an attempt do a bijection of the mapping to/from code state and bitstream?
Is there a precedence between <== and <==>?  Maybe that's what confuses me most.

[2020-09-22 21:28] michaelni commented on #231
A <== B == C is meant as
A <== B, B == C
which could also be written as
A <== (B == C)
which would make == have higher precedence

[2020-09-23 12:11] dwbuiten commented on #230
Worth noting here that when I implemented go-ffv1, it was with an older revision of the spec, and it seems the figure numbers have since changed... I'll update the comments.

(Also worth noting that go-ffv1 is not an official reference decoder.)

[2020-09-23 12:17] dwbuiten commented on #231
What's worth noting is that this is the only bit of the spec that uses a mathematical definition like this (contrast it to the golomb-rice coding part of the spec).

When I implemented go-ffv1 I essentially ignored this part of the spec entirely, and had to use the original paper cited, and a bit of wikipedia. (I mentioned as much here: https://youtu.be/4HB7v7dItWE / https://mediaarea.net/Events/2

[2020-09-23 12:22] JeromeMartinez commented on #231
@dwbuiten would you mind to suggest a patch to the spec about that for having all in the spec?
I am working on all the other issues of the review but this one seems too big for my poor math skills.

[2020-09-23 12:24] dwbuiten commented on #231
I cam devise a patch using pseudocode, but I'd like to heat @michaelni's opiniomln first.

[2020-09-23 14:01] dericed commented on #230
Hi @dwbuiten, you could contextualize your comments to the version of the draft such as "draft-ietf-cellar-ffv1-17", although as the document is in "IESG Evaluation" status the RFC number may be soon.

[2020-09-23 15:11] michaelni commented on #231
I find the mathematical definition quite elegant but it clearly is not working for people. So adding pseudocode for the get/put is the logic solution. Iam in favor to add such pseudocode in addition to the mathematical stuff

[2020-09-23 15:16] JeromeMartinez commented on #231
As the spec is, as most (all?) specs, focused on decoding, I suggest to have the pseudocode for the "get" part only, in addition of the mathematical definition focused on the "put" part we already have, it may be a good balance between not enough and too much.

[2020-09-23 15:49] michaelni commented on #231
I agree

[2020-09-25 14:12] retokromer opened #233 "[v4] slices"
There are some problems with the way slices are managed in versions 0 to 3, which in my opinion should be addressed in version 4.

E.g. with a 1536 = 2 ^ 9 x 3 pixel height image (i.e. a multiple of 4), I got the error message:

![Capture d’écran 2020-09-25 à 15 31 34](https://user-images.githubusercontent.com/3246607/94276877-1ba95880-ff49-11ea-882c-2b16ceeded48.png)

I guess, it would be easie

[2020-09-25 14:57] dwbuiten commented on #233
This is not a spec limitation, but an encoder limitation AFAICT.

[2020-09-25 15:02] retokromer commented on #233
There is a [discussion](https://github.com/FFmpeg/FFV1/issues/231#issuecomment-697579247) to focus the pseudo-code in the specifications on the decoder. I guess this should be specified there.

[2020-09-25 15:04] dericed commented on #233
I don't understand what the problems are or what the fix would be. For ffv1 with version >=3 the values for slice_x and slice_y are independent values within the slice header and they don't need to be the same value. If the version is <=3 then there is no slice header and thus no slice_x and slice_y, so the non-existent values are the same (I guess).

At any rate, if you're discussing an issue tha

[2020-09-25 15:06] dwbuiten commented on #233
I agree, this issue is specific only to the implementation of the FFV1 encoder in ffmpeg, and is unrelated any restrictions in the spec.

[2020-09-25 15:09] retokromer commented on #233
I see, closing.

[2020-09-25 15:09] #233 closed

[2020-09-25 15:12] dwbuiten commented on #230
Yes, I'll do that when I update them.

[2020-09-30 13:28] michaelni commented on #221
@dwbuiten thats nice, thanks alot for working on this!

[2020-09-30 14:04] michaelni opened #234 "Build produces pages of warnings and errors"
This makes it hard to identify newly added bugs in patches
In fact i cannot show the whole list of errors as github refuses to accept the full list "There was an error creating your Issue: body is too long (maximum is 65536 characters)." so this is shortened

[code]

[2020-09-30 15:53] dericed commented on #234
hmmm for me

[code]

OK my mmark is ahead of yours (2.2.8 -> 2.2.9) and xml2rfc is ahead (2.47.0 -> 2.41.0).

I see that your svg includes a `g/@style` attribute and the `symbol` element that causes most of the errors, but those are addressed in https://github.com/FFmpeg/FFV1/blob/d188994cb84900cdd0c83c06f75656753217a911/makesvg#L13-L15. Do you mind deleting the svg files and rerunning the make pr

[2020-09-30 16:27] michaelni commented on #234
are you asking me or "make clean" ? "make clean" says its creators forgot and its really sad it cannot.

[2020-09-30 16:29] dericed commented on #234
I was asking [you](@michaelni). If helpful, we could add the svg files to make clean.

[2020-09-30 16:34] michaelni commented on #234
ok, fails worse :)
ill show the relevant one:
makesvg: line 9: pandoc: command not found
and before you say install pandoc, yes of course but that requirement is not documented it should be documented and ideally tested for

[2020-09-30 16:45] dericed commented on #234
Hi @michaelni, I certainly don't disagree and had attempted to address this in the `buildcheck` script, adapted from @robUx's work at https://github.com/FFmpeg/FFV1/pull/222. I'm not blocking the idea from happening, but I don't know how to do it at the moment.

[2020-09-30 19:21] michaelni commented on #234
@dericed, ok, i understand. so i tried adding a version check and ended up with https://github.com/FFmpeg/FFV1/pull/236

[2020-10-03 18:38] michaelni opened #240 "Nothing in the Makefile removes the genarated *.svg files"

[2020-10-03 18:39] michaelni commented on #234
closing in favor of https://github.com/FFmpeg/FFV1/issues/240 which is about the remaining issue

[2020-10-03 18:39] #234 closed

[2020-10-06 14:45] dericed commented on #230
@dwbuiten, @michaelni, are you able to assist with the get_rac piece of Barry's review. The quote from the [review](https://mailarchive.ietf.org/arch/msg/cellar/rvI2_U8IydKtrOo1270wVOddyug/) is

[code]

I understand that get_rac refers to [figure 9](https://www.ietf.org/id/draft-ietf-cellar-ffv1-17.html#figure-9); however a narrative could help. For instance does `rac` mean `RAnge Coded binary val

[2020-10-06 14:54] dwbuiten commented on #231
Can this issue be closed now that there is pseudocode?

[2020-12-04 21:31] dericed commented on #231
I suggest leaving this issue open as there's active discussion in Barry's DISCUSS and his [recent comments](https://mailarchive.ietf.org/arch/msg/cellar/sENj_NU60EcmGAsJLnTiYXOONFw/).

Barry notes that the formulae would be more readable with more definitions to each component variable of the formulae. As Barry suggested I moved the variables from a narrative to definition list in https://github.c

[2020-12-18 16:09] dericed commented on #231
new nudge to @michaelni @dwbuiten on the questions of my last comment. Also for the formula of Section 3.8.1.1 would it make sense to group them in regards to the purpose they have?

[2020-12-18 17:42] dwbuiten commented on #231
I agree with Barry that it's easier to parse as separate variables.

I'm not really sure how you intend to cross reference with Table 4, though? It's not really beneficial.

[2021-01-26 18:30] michaelni commented on #230
IIRC get_rac() was named for consistancy with get_cabac(), it returns a single bit coded using the range coder. Not sure if the 3 letters can be matched to grammatically 100% fitting words

[2021-02-02 16:09] dericed opened #258 "reading through section 3.8.1.1"
To resolve the last open issues of the spec, I'm trying to read through and understand Section 3.8.1.1 and I get stuck fairly soon. Nudges to @michaelni, @dwbuiten, @JeromeMartinez.

The introductory text is:

   the i-th Context.  B_(i) is the i-th byte of the bytestream. b_(i) is
   the i-th Range coded binary value, S_(0, i) is the i-th initial
   state.  The length of the bytestream encoding n

[2021-02-07 14:00] dericed commented on #258
👀

[2021-02-07 20:07] michaelni commented on #258
I do not understand the question

R_(i) is the range at symbol i, that is then split in 2 ranges one in case the ith symbol is a 0 and one in case its a 1. r_(i)  is the range for the case its a 1 R_(i) - r_(i)  for the 0 case

Do you understand what is meant by state and context ? iam asking as i do not know if that needs more verbose explaning or something else ?
Its not clear to me what exactly

[2021-02-08 17:53] dericed commented on #258
Thanks @michaelni, this is really helpful and I'm hoping to send a PR soon. In the meanwhile I have a few more questions.

Please correct any of my understanding here if wrong or could be better clarified.

- IIUC, in the context of the range coder, a `State` is the period from which the Range coder state variables were initialized until the next initialization (such as at a keyframe) or the end o

[2021-02-08 19:24] michaelni commented on #258
for the range coder each context (for examle a context may be a specific black&white checkered background surrounding the to be coded sample) has a state for each binary symbol that is coded. This state can change each time a symbol is coded with that context. all other states are unchanged. so these states generally change multiple times in a frame.
This is different from the "state" of the range

[2021-02-18 17:35] dericed commented on #258
Thanks @michaelni. Based on the main branch I'll update my reading notes and questions.

I know understand the introduction to section 3.8.1.1 better and the definition list of values. The following paragraph describes the initialization of several variables which are then expressed in Figures 11 through 13.

At this point though, I think an additional few sentence would be helpful between Figures

[2021-02-20 14:47] michaelni commented on #258
Something like: The following equations define how the range coder variables evolve as it reads or writes symbols

14: positioning the range split based on the state
15: linking the decoded symbol, updated state and updated range
16: carrying over the unchanged states
17: linking the range coder with the bytestream read/write

I would not say that. That to me sounds like pi is about converting the

[2021-03-15 17:56] JeromeMartinez commented on #258
It looks like this issue can be closed (https://github.com/FFmpeg/FFV1/pull/260 is merged).

[2021-03-15 17:57] JeromeMartinez commented on #230
It looks like this issue can be closed (https://github.com/FFmpeg/FFV1/pull/230 and https://github.com/FFmpeg/FFV1/pull/241 are merged).

[2021-03-15 17:58] JeromeMartinez commented on #231
It looks like this issue can be closed (https://github.com/FFmpeg/FFV1/pull/259 is merged).

[2021-03-23 20:23] #230 closed

[2021-03-23 20:23] #231 closed

[2021-03-23 20:24] mcr commented on #240
please close.

[2021-03-23 20:25] mcr commented on #258
please close.

[2021-03-24 12:38] #240 closed

[2021-03-24 12:39] #258 closed

[2021-04-27 19:25] mcr opened #262 "add list of ffv4 goals and promises"
The FFV1-0/2/3 can result in a compressed frame that is bigger than uncompressed.

1. FFV1-v4 solves this issue.
2. A new colour space (not RGB or YUV) is desired.
3. Bayer Encoded to be added. (it has a RGGB on a two sensor block)

The introduction to ffv1-v4 needs to make the feature set of v4 clearer about what the goals of v4 are.

[2021-04-28 17:33] #262 closed

[2021-09-28 20:11] JeromeMartinez opened #268 "Renaming of the repo to ffv1-specification"
Just some administrative stuff: even if [we don't move](https://github.com/FFmpeg/FFV1/issues/161) to [IETF CELLAR working group](https://github.com/ietf-wg-cellar), it may make more sense to mimic the names of the repositories, i.e. `ffv1-specification` for being clear in the name and not only in the description that it is the spec.

[2021-09-29 13:17] JeromeMartinez commented on #268
GitHub handles the redirections :).
For me the repo would be only for the specifications in order to emphasize it, and stuff beyond the spec would go in a dedicated repo.

I let this issue open in case there are comments from others then I close if not convinced.

[2021-10-11 17:59] lp35 opened #269 "FFV1 CUDA accelerated version"
Hi,

Not sure I'm at the right place to ask this question, but I would like to know if there is any implementation of FFV1 available for CUDA.

If not, do you have any advice on the complexity/feasibility of porting FFV1 on CUDA platform? Is it highly parallelizable?

Don't hesitate to point me to other online resources/repo/person if I'm not at the right place!

Thanks for your time

[2021-10-11 18:08] JeromeMartinez commented on #269
AFAIK there is no CUDA implementation but this is on my todo-list.
This is definitely something we need to do as HDTV or 2K are now used with FFV1 and basic CPU processing is not enough for current CPUs, even with multi-thread.

I expect that it is highly parallelizable on lot of parts, but the range coder (which consumes the biggest part of the time) may be more tricky to parallelize, we'll know

[2021-10-12 10:04] lp35 commented on #269
We might put some resources internally on this project, is there anything we can do to make things happen?

Great, do not hesitate to share, I will start experiementation with FFV1 next week :)

This document is gold, thank you for sharing your work! Maybe it can found its place in the Wiki section of this repo?

Found this one, but I guess every codec have evolved since then!

[2022-05-24 20:05] michaelni commented on #268
What is the oppinion of others ? (Feel free to just use the thumbs up/down thingies on the initial message to show your agreement disagreemnet if you have no further comments)
personally iam divided on this. I like ffv1 its easy to remember and its short and theres no non spec repo to distingish it from

[2022-05-24 20:07] dericed commented on #268
IIUC github will manage a redirection, such as happened for https://github.com/matroska-org/matroska-specification.